body{
    background-color: rgb(165, 238, 238);
}
.container .counter{
    font-weight: bold;
    font-size: 20px;
    top:10em;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    flex-shrink: inherit;
    color: rgb(6, 6, 46);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }


.container .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top:20em;
   
    
}

button {
    padding:10px 20px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: 300ms;
    margin-top:-10em;
    background-color: transparent;
}

button:hover {
    background-color: rgb(6, 6, 46);
    color:white;
    transition:300ms;
    
}
body .footer {
    position:absolute;
    display: flex;
    bottom:0px;
}
